@charset "UTF-8";

body {
	background-color: #03DAC6;
}

h1 {
	font-size: 60px;
	color: #00665C;
	text-align: center;
	margin-bottom: 0%;
}

label {
	color: #00665C
}

h2 {
	font-size: 40px;
	color: white;
	text-align: center;
}

h4 {
	font-size: 20px;
	color: white;
	text-align: center;
}

.custom-1 {
	display: flex;
	justify-content: center;
	padding: 8px 16px 8px;
	width: 163px;
	height: 50px;
}

.custom-2 {
	font-size: 20px;
	color: #00665C;
}

.custom-3 {
	font-size: 20px;
}

.table {
	opacity: 0.8;
	background: #ffffff;
	ont-size: 100%;
	font-family: inherit;
	font-style: normal;
	background-color: transparent;
	width: auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #00665C;
  text-align: center;
  font-size: 15px;
}