@charset "UTF-8";

body {
	background-color: #03DAC6;
}

h1 {
	font-size: 60px;
	color: #00665C
}

label {
	color: #00665C
}

h2 {
	font-size: 40px;
	color: white;
}

.custom-1 {
	display: flex;
	justify-content: center;
	padding: 8px 16px 8px;
	width: 163px;
	height: 50px;
}

.table {
	opacity: 0.8;
	background: #ffffff;
	ont-size: 100%;
	font-family: inherit;
	font-style: normal;
	background-color: transparent;
	width: auto;
}